// colors
$basic-font-color: #3d4046;
$emphasize-font-color: #53585f;
$main-color: #050a30;
$sub-color: #2c3e50;

// media query
$mobile: "only screen and (max-width : 759px)";
$tablet: "only screen  and (min-width : 760px) and (max-width : 1199px)";
$pc: "only screen and (min-width : 1200px)";
