// colors
$basic-font-color: #3d4046;
$emphasize-font-color: #53585f;
$main-color: #050a30;
$sub-color: #2c3e50;

// for media query
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-pc: 1024px;
